/.github
/.vs
/.vs/AccountingBook
/bin/Debug/api.deps.json
/bin/Debug/api.dll
/bin/Debug/api.exe
/bin/Debug/api.pdb
/bin/Debug/api.runtimeconfig.json
/bin/Debug/appsettings.Development.json
/bin/Debug/appsettings.json
/bin/Debug/Microsoft.OpenApi.dll
/bin/Debug/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/Swashbuckle.AspNetCore.SwaggerUI.dll
/api/bin/Debug/net8.0/api.dll
/api/bin/Debug/net8.0/api.exe
/api/bin/Debug/net8.0/api.pdb
/api/obj/Debug/net8.0/ref/api.dll
/api/obj/Debug/net8.0/refint/api.dll
/api/obj/Debug/net8.0/api.AssemblyInfo.cs
/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
/api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
/api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
/api/obj/Debug/net8.0/api.dll
/api/obj/Debug/net8.0/api.pdb
/api/obj/Debug/net8.0/api.sourcelink.json
/api/obj/Debug/net8.0/apphost.exe
/obj/Debug/docker-c.35A3FFBA.Up2Date
/obj/Debug/docker-compose.dcproj.AssemblyReference.cache
/obj/Debug/docker-compose.dcproj.CoreCompileInputs.cache
/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
/obj/Docker/api/AbsoluteOutputAssemblyPath.cache
/obj/Docker/api/BuildContextPath.cache
/obj/Docker/api/ContainerDebugAbsoluteOutputAssemblyPath.cache
/obj/Docker/api/ProjectReferences.cache
/obj/Docker/api/ProjectType.cache
/obj/Docker/api/TargetFramework.cache
/obj/Docker/api/TargetFrameworkVersion.cache
/obj/Docker/api/VolumeMappingsForStaticWebAssets.cache
/obj/Docker/api/VolumeMappingsForTools.cache
*.cache
/obj/Docker/CachedComposeConfigFilePaths.cache
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.debug.partial.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Docker/docker-compose.vs.release.partial.g.yml
*.user
*.dll
/bin
/obj
/api/.config
/api/bin/Release
/api/obj/Container/AbsoluteOutputAssemblyPath.cache
/api/bin
/api/obj
/docker-compose.yml
/api/Dockerfile
/api/Dockerfile
/api/appsettings.json
/web_site/env/.env
/web_site/env/.env.development
/launchSettings.json
api/Properties/launchSettings.json
web_site/env/.env.development
